* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-rows: max-content max-content auto auto;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: auto max-content max-content;
    background-color: rgb(153, 111, 56);
    border-bottom: 2px solid black;
    /* margin: 2vw; */
    padding: 2vw;
}
.video{
    padding: 2vw;
    display: block;
    margin: auto;
}

span {
    text-transform: uppercase;
    text-decoration: underline;
}

#menus {
    border: 2px solid black;
    align-self: center;
    border-radius: 500px;
    padding: 9px;
}

a {
    color: black;
}

.bs {
    padding: 2vw;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}