@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility styles for common attributes and classes */

body {
    font-family: 'Roboto', arial, sans-serif;
    text-decoration: none;
    min-height: 140vh;
    background: #f1f2f6;
}

.fa {
    margin: 0px 4px;
}

.fa-angle-down {
    margin: 0;
    font-weight: lighter;
}

.fa-user {
    border-radius: 50%;
}

/* navigation bar */

/* 1 Logo and searchbar */

.heading_navigation {
    background-color: #2874f0;
    height: 56px;
    position: sticky;
    z-index: 2;
}

.nav_container {
    display: flex;
    align-items: center;
    justify-items: center;
    max-width: 1248px;
    width: 100%;
    position: relative;
    left: 61px;
}

.logo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.anchor_plus {
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
    font-size: 11px;
    margin-top: -5px;
    font-style: italic;
}

#flip_logo {
    width: 85px;
}

.anchor_plus img {
    width: 10px;
}

.plus_lan {
    font-weight: bold;
    color: #ffe500;
    margin: 0px 2px;
}

.search_bar_container {
    min-width: 304px;
    width: 708px;
}

.search_bar {
    max-width: 564px;
    width: 100%;
    margin-left: 10px;
    box-shadow: 0px 2px 4px rgb(0 0 0 /23%);
}

.search {
    display: flex;
}

.search_box {
    outline: none;
    padding: 0px 16px;
    height: 36px;
    border-radius: 2px 0px 0px 2px;
    border: 0;
    width: 100%;
}

.search_bar button {
    background: #fff;
    border: 1px solid #fff;
    padding: 4px 12px 4px 8px;
    width: 44px;
    height: 36px;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    color: #2874f0;
    font-size: 19px;
}

/* 2 Login Button */

.login_button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.login_button button {
    width: 100%;
    padding: 3px 0px;
    color: #2874f0;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

/* 3 More button */

/* Dropdown Button */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}